body{
	font-family: 'Lato';
	font-weight: 400;
	//font-size: 14px;
	line-height: 1.7;
	color:  $color-grey-dark;
}

.heading-primary{
	color: $color-white;
	text-transform: uppercase;
	backface-visibility: hidden;
	margin-bottom: 60px;

	&-main{
		display: block;
		font-size: $heading_primary_fs;
		font-weight: 400;
		letter-spacing: 2rem;
		animation: moveInTop 0.9s;
		
		@include respond(phone){
			font-size: $heading_primary_fs -1;
			letter-spacing: 1rem;
		}
	}

	&-sub{
		display: block;
		font-size: $heading_primary_fs -3.5;
		font-weight: 400;
		letter-spacing: 1.2rem;
		animation: moveInLeft 0.9s;
		@include respond(phone){
			font-size: $heading_primary_fs -1.5;
			letter-spacing: .5rem;
		}
	}
}

.heading-secondary{
	margin-top: 20rem;
	backface-visibility: hidden;
	font-size: $heading_secondary_fs;
	text-transform: uppercase;
	font-weight: 700;
	display: inline-block;
	background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
	-webkit-background-clip: text;
	color: transparent;
	letter-spacing: .2rem;
	transition: all .2s;

	&:hover{
 		transform: skewY(2deg) skewX(8deg) scale(1.1);
		text-shadow: 5px 10px 20px rgba(0, 0 , 0, 0.2);
	}
}

.heading-tertiary{
	backface-visibility: hidden;
	color: #000;
	font-size: $heading_tertiary_fs;
	font-weight: 600;
	text-transform: uppercase;
}

.paragraph{
	font-size: $paragraph_fs;
	color: #768275;
	font-weight: 450;
	&:not(:last-child){
		margin-bottom: 3rem;
	}

	@include respond(tab-port){
		font-size: $paragraph_fs + .1;
		font-weight: 530;
	}
}
