body{
	font-family: 'Lato';
	font-weight: 800;
	font-size: 16px;
	line-height: 1.7;
	color:  $color-white;
	padding: 30px;
}

.heading-primary{
	color: $color-white;
	text-transform: uppercase;
	backface-visibility: hidden;
	margin-bottom: 60px;

	&-main{
		display: block;
		font-size: 60px;
		font-weight: 400;
		letter-spacing: 35px;
		animation: moveInTop 0.9s;
	}

	&-sub{
		display: block;
		font-size: 20px;
		font-weight: 700;
		letter-spacing: 17.4px;
		animation: moveInLeft 0.9s;
	}
}

.heading-secondary{
	backface-visibility: hidden;
	font-size: 1.8rem;
	text-transform: uppercase;
	font-weight: 700;
	display: inline-block;
	background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
	-webkit-background-clip: text;
	color: transparent;
	letter-spacing: .2rem;
	transition: all .2s;

	&:hover{
 		transform: skewY(2deg) skewX(8deg) scale(1.1);
		text-shadow: 5px 10px 20px rgba(0, 0 , 0, 0.2);
	}
}

.heading-tertiary{
	backface-visibility: hidden;
	color: #000;
	font-size: 1.2rem;
	font-weight: 600;
	text-transform: uppercase;
}

.paragraph{
	font-size: 1rem;
	color: #768275;
	font-weight: 600;
	&:not(:last-child){
		margin-bottom: 3rem;
	}
}
